.login-page {
  display: flex;
  flex-direction: column;
  align-items: center;
  --background: linear-gradient(135deg, #3f51b5, #1a237e);
  color: white;
}

.logo-container {
  margin-top: 60px;
  text-align: center;
}

.logo-icon {
  font-size: 80px;
  margin-bottom: 10px;
}

.login-card {
  width: 90%;
  margin-top: 30px;
}

.login-button {
  margin-top: 20px;
}
