// For information on how to create your own theme, please refer to:
// https://ionicframework.com/docs/theming/
:root {
  --ion-color-primary: #3949ab;
  --ion-color-secondary: #00bfa5;
  --ion-color-tertiary: #ffca28;
}
